Repository eruptionjs/core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npm run lint:fix, npm run lint:css

.lintstagedrc:

{
  "*.{html,md,json,jsonc}": ["npm run prettier:fix"],
  "*.{ts,tsx,js,jsx}": ["npm run prettier:fix", "npm run lint:fix"],
  "*.css": ["npm run lint:css"]
}

chore(packages): update msw version. closes #49
  .eslintignore
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/__mocks__/README.md
  src/__mocks__/browser.ts
  src/__mocks__/handlers.ts
Due: npm run prettier:fix, npm run lint:fix

feat(dx): add qr-code on the dev server
  package-lock.json
  package.json
  vite.config.ts
Due: npm run prettier:fix, npm run lint:fix

chore(rc-v1.8): first rc with dep bumps, everything working as expected on dev
  .eslintrc.cjs
  .gitignore
  .lintstagedrc
  .vscode/settings.json
  CHANGELOG.md
  index.html
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/main.tsx
  vite.config.ts
Due: npm run prettier:fix, npm run lint:fix

chore(ci): update GitHub Action command
  .github/workflows/ci.yml
Due: none

chore(ci): remove cache layer
  .github/workflows/ci.yml
Due: none

chore(ci): add cache layer
  .github/workflows/ci.yml
Due: none

Update index.html
  index.html
Due: npm run prettier:fix

chore(host mode): remove host mode script, now is default for dev server
  index.html
  package.json
Due: npm run prettier:fix

chore(deps): update deps to latest
  .husky/commit-msg
  .husky/pre-commit
  .stylelintignore
  .stylelintrc
  package-lock.json
  package.json
  public/mockServiceWorker.js
Due: npm run prettier:fix, npm run lint:fix

spike(bun): rc testing bun features as package manager and runtime
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  .nvmrc
  Dockerfile
  bun.lockb
  bunfig.toml
  docker-compose-dev.yml
  docker-compose.yml
  dockerfile.dev
  package-lock.json
  package.json
  vite.config.ts
Due: npm run prettier:fix, npm run lint:fix

chore(ci): fix CI scripts
  .github/workflows/ci.yml
Due: none

feat: add new github configs
  .github/auto_assign.yml
  .github/dependabot.yml
  .github/stale.yml
Due: none

chore(rc/bun): upgrade deps to latest
  bun.lockb
  package.json
  public/mockServiceWorker.js
Due: npm run prettier:fix, npm run lint:fix

chore(rc/1.10): upgrade deps to latest
  package-lock.json
  package.json
  public/mockServiceWorker.js
Due: npm run prettier:fix, npm run lint:fix

chore(rc/bun): update deps and release bun
  .gitattributes
  .gitignore
  .husky/pre-commit
  bun.lockb
  package.json
  public/mockServiceWorker.js
Due: npm run prettier:fix, npm run lint:fix

chore(rc/bun): update ci config
  .github/workflows/ci.yml
Due: none

chore(rc/bun): update changelog and version release
  CHANGELOG.md
  package.json
Due: npm run prettier:fix

chore(rc/bun): update package script that was on npm
  package.json
Due: npm run prettier:fix

docs(workspace): removes all references from Docker
  .dockerignore
  README.md
  package-lock.json
Due: npm run prettier:fix

chore(project): upgrade
  .eslintignore
  .eslintrc.cjs
  .prettierrc
  .prettierrc.js
  README.md
  bun.lockb
  eslint.config.js
  package.json
  src/App/App.spec.tsx
  src/App/App.tsx
  src/main.tsx
  src/reportWebVitals.ts
  tsconfig.node.json
  vite.config.ts
  vitest.config.ts
Due: npm run prettier:fix, npm run lint:fix

chore(update-ts-and-deps): update linters to use eruption/config and upgrade deps do latest
  .prettierrc.js
  bun.lock
  bun.lockb
  package.json
  public/mockServiceWorker.js
  tsconfig.json
  tsconfig.node.json
Due: npm run prettier:fix, npm run lint:fix

chore(update-ts-and-deps): update husky commands in duplicity
  .husky/pre-commit
  package.json
Due: npm run prettier:fix

chore(update-ts-and-deps): update lintstaged runners to bun
  .lintstagedrc
Due: none

chore(update-ts-and-deps): update ci and github workflows
  .github/workflows/ci.yml
  package.json
Due: npm run prettier:fix

chore(update-ts-and-deps): update configs
  bun.lock
  package.json
Due: npm run prettier:fix

chore(workspace): upgrade packages
  bun.lock
  package.json
Due: npm run prettier:fix

chore(performance): update vite config and web-vitals
  src/reportWebVitals.ts
  vite.config.ts
Due: npm run prettier:fix, npm run lint:fix

chore(deps): update deps, change update script comment to use bunx and ncu remote instead of locally
  bun.lock
  package.json
Due: npm run prettier:fix

chore(deps): update vite/vitest to deps
  bun.lock
  package.json
  vite.config.ts
Due: npm run prettier:fix, npm run lint:fix

chore(deps): upgrade tyepscript to v6
  bun.lock
  package.json
  tsconfig.json
Due: npm run prettier:fix

chore(deps): upgrade commitlints to latest
  bun.lock
  package.json
Due: npm run prettier:fix

chore(deps): update stylelint deps to latest
  bun.lock
  package.json
Due: npm run prettier:fix

chore(deps): upgrade lint-staged to latest
  bun.lock
  package.json
Due: npm run prettier:fix

chore(deps): upgrade happy-dom to latest
  bun.lock
  package.json
Due: npm run prettier:fix

chore(deps): upgrade eslint to latest
  bun.lock
  package.json
Due: npm run prettier:fix

chore(deps): upgrade ncu to latest
  bun.lock
  package.json
Due: npm run prettier:fix
